<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Edit</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-br from-gray-800 via-zinc-900 to-black min-h-screen flex items-center justify-center px-4">
    <div class="w-full max-w-4xl bg-gray-900 rounded-lg shadow-lg p-6 md:p-10 text-white">
        <a 
            class="text-blue-500 inline-block mb-6 text-lg px-4 py-2 border border-blue-500 rounded-lg hover:bg-blue-500 hover:text-black transition-all duration-200" 
            href="/">
            &larr; Go back to home
        </a>
        <form action="/edit" method="post" class="space-y-4">
            <input 
                class="block w-full md:w-3/5 mx-auto rounded-md outline-none px-4 py-3 bg-zinc-700 text-lg focus:ring-2 focus:ring-blue-500 text-center"
                type="text" 
                placeholder="Previous name" 
                name="previous" value="<%= filename %>">
            <input 
                class="block w-full md:w-3/5 mx-auto rounded-md outline-none px-4 py-3 bg-zinc-700 text-lg focus:ring-2 focus:ring-blue-500 text-center mt-2"
                type="text" 
                placeholder="New name" 
                name="new">
            <button 
                class="block w-full md:w-1/4 mx-auto bg-yellow-800 px-5 py-3 rounded-lg text-lg font-semibold hover:bg-red-600 transition-all duration-200">
                Update Name
            </button>
        </form>
    </div>
</body>
</html>